#countlable{
    display: block;
    text-align: center;
    font-size: 100px;
justify-content: center;
align-items: center;
margin: 190px;

    

}
.btn{
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 100px;
    margin-top: -170px;
}
